.books-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 0 auto; */
}

.books-container .books {
  display: flex;
  flex-direction: column;
  background-color: var(--white-two);

  /* margin-right: 4%; */
}
